<!DOCTYPE html>
<html>
    <head>
        <title>KPRG-검사</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><head>
    </head>
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
        <link rel='stylesheet' media="only screen" href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/check.css' />
        <link rel='stylesheet' href='/bootstrap/bootstrap-datetimepicker.min.css' />
    </head>

    <body>
		<%- include header.html %>

		<section id="checkSection">
			<div class="checkTitle">
				<span class="firstTitle">Korea Pain Research Group</span><br>
				<span class="secondTitle">검사</span>
			</div>

			<div class="checkProgressContainer">
				<div class="checkProgress">
	                <div class="col-xs-4 checkProgress-step active">
	                    <div class="text-center checkProgress-stepnum">1단계 차트</div>
	                    <div class="progress"><div class="progress-bar"></div></div>
	                    <a href="#" class="checkProgress-dot"></a>
	                </div>
	                
	                <div class="col-xs-4 checkProgress-step">
	                    <div class="text-center checkProgress-stepnum">2단계 WCPE</div>
	                    <div class="progress"><div class="progress-bar"></div></div>
	                    <a href="#" class="checkProgress-dot"></a>
	                </div>
	                
	                <div class="col-xs-4 checkProgress-step">
	                    <div class="text-center checkProgress-stepnum">3단계 WCPR</div>
	                    <div class="progress"><div class="progress-bar"></div></div>
	                    <a href="#" class="checkProgress-dot"></a>
	                </div>
	            </div>
			</div>
			
			<div class="step1_buttons">
				<button id="existCheck">기존 환자 재검사</button>
				<button id="newCheck">신규 환자 검사</button>
			</div>

			<div class="step1_exist">
				<label class="stepLabel">환자 이름</label>
				<input class="patientName form-control" type="text"></input>
				<button class="search">검색</button>
			</div>

			<div class="step1_new">
				<label class="stepLabel">환자 이름</label>
				<input class="patientName form-control" type="text"></input>
				<label class="stepLabel">생년월일</label>
				<div class="birthDateWrap">
					<div class='input-group date' id='patientBirthDate'>
	                    <input type='text' class="form-control" />
	                    <span class="input-group-addon">
	                    	<i class="fa fa-calendar"></i>
	                    </span>
	                </div>
				</div>
				<label class="stepLabel" >성별</label>
				<select class="form-control" id="patientSex">
					<option value="w" selected>여자</option>
					<option value="m">남자</option>
				</select>
			</div>

			<div class="step1_checkContent">
				<div class="checkBoxContainer">
					<div class="checkSection">
						<label>앞</label><br>
						<div class="checkDivSection">
							<input type="checkbox">머리</input><br>
							<input type="checkbox">왼쪽 어깨</input><br>
							<input type="checkbox">오른쪽 어깨</input><br>
							<input type="checkbox">왼쪽 가슴</input><br>
							<input type="checkbox">오른쪽 가슴</input><br>
							<input type="checkbox">명치</input><br>
							<input type="checkbox">왼쪽 팔</input><br>
							<input type="checkbox">오른쪽 팔</input><br>
							<input type="checkbox">배</input><br>
							<input type="checkbox">왼쪽 골반</input>
						</div>
						<div class="checkDivSection">
							<input type="checkbox">오른쪽 골반</input><br>
							<input type="checkbox">생식기</input><br>
							<input type="checkbox">왼쪽 허벅지</input><br>
							<input type="checkbox">오른쪽 허벅지</input><br>
							<input type="checkbox">왼쪽 무릎</input><br>
							<input type="checkbox">오른쪽 무릎</input><br>
							<input type="checkbox">왼쪽 발목</input><br>
							<input type="checkbox">오른쪽 발목</input><br>
							<input type="checkbox">왼쪽 발가락</input><br>
							<input type="checkbox">오른쪽 발가락</input>
						</div>
					</div>
					<div class="checkSection">
						<label>뒤</label><br>
						<div class="checkDivSection">
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input>
						</div>
						<div class="checkDivSection">
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input><br>
							<input type="checkbox">11</input>
						</div>
					</div>
				</div>
				
				<div class="recordContainer">
					
				</div>
			</div>

		</section>
		
		<%- include footer.html %>
    </body>

	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="bootstrap/bootstrap-datetimepicker.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/common.js"></script>
	<script src="modules/check.js"></script>
	<script>
		COMMON.init_events();
	</script>

</html>
