<!DOCTYPE html>
<html>
    <head>
        <title>KPRG-오류</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel='stylesheet' href='/stylesheets/error.css' />
        <link rel='stylesheet' href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
    </head>

    <body>
		<%- include header.html %>

		<section>
            <div style="text-align: center;">
				<div class="errorTitle">
                    <span class="firstTitle">Korea Pain Research Group</span><br>
                </div>
				<div class="wrapper">
                    <div class="container_box">
                        <h2 style="margin-top: 40px; margin-bottom: 40px;">
                            <i class="fa fa-ban"></i>
                            <span>오류</span>
                            <i class="fa fa-ban"></i>
                        </h2>
                        <h3>오류가 발생했기 때문에</h3>
                        <h3>이 페이지는 현재 이용하실 수 없습니다.</h3>
                    </div>
                    <div class="buttons">
                        <button id="goToHome" onclick="location.href='/'">홈으로 이동</button>
                    </div>
				</div>
			</div>
		</section>
    </body>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>

</html>
