<footer>
	<div class="footer_wrap container">
		<div class="row">
			<div class="policy_info_wrap col-md-12">
				<div class="policy_info col-md-12">
					<span class="policy"><a href="/policy">이용약관 및 개인정보보호</a></span>
					&nbsp|&nbsp
					<span class="inquire"><a href="/inquire">문의하기</a></span>
					&nbsp|&nbsp
					<span class="notice"><a href="/notice">공지사항</a></span>
				</div>
			</div>
		</div>
		<div class="row company_info_wrap">
			<div class="col-md-12 company_info">
				<div class="footerCompanyInfo">
					<div class="group">
						<span class="col-md-7 footerRow">비영리단체 Whang & Cho's Pain Research Group</span>
						<span class="col-md-5 footerRow">대표: 홍길동</span>
					</div>
					<div class="companyNumber">
						<span class="col-md-7 footerRow">사업자등록번호: 120-86-65238 &nbsp|&nbsp 통신판매업신고번호: 120-86-65238</span>
						<span class="col-md-5 footerRow">주소: OO시 OO구 OO동 OOOOOO 123-45</span>
					</div>
					<div class="companyInfo">
						<span class="col-md-7 footerRow"><i class="fa fa-copyright" aria-hidden="true"></i> codigm Corp. All Rights Reserved.</span>
						<span class="col-md-5 footerRow">이메일: wcpr@wcpr.com</span>
					</div>	
				</div>
				<!-- <div class="footerEtc">
					<div class="tel">
						<span>TEL&nbsp;&nbsp;031-8038-3228</span>
					</div>
					<div class="email">
						<span>이메일&nbsp;&nbsp;<a href="mailto:contact@goorm.io?plan=ZnJlZQ==">contact@goorm.io</a></span>
					</div>
					<div class="regist_num">
						<span>사업자등록번호&nbsp;&nbsp;124-87-39200</span>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</footer>