<div id="header_wrap">
	<div id="header">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_menu" style=" margin-top:15px;">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="logo" title="KPRG" href="/">Korea Pain<br>Research Group</a>
		</div>

	    <div class="navbar-collapse collapse" id="nav_menu">
			<ul class="nav navbar-nav main_menu">
				<li class="menu_introduce" move="introduce">연구팀 소개</li>
				<li class="menu_service" move="service">검사/서비스</li>
				<li class="menu_donate" move="donate">기부</li>
			</ul>

			<ul class="nav navbar-nav navbar-right tools">
				<li class="my_page" style="<%= myInfoDisplay %>">마이페이지</li>
				<li class="login" style="<%= loginDisplay %>">로그인</li>
			</ul>
		</div>

	</div>
</div>

<!-- <script>
	var user_agent = navigator.userAgent;

    document.addEventListener("DOMContentLoaded", function() {
    	
	});

</script> -->
