<!DOCTYPE html>
<html>
    <head>
        <title>메인페이지</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><head>
    </head>
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
        <link rel='stylesheet' media="only screen" href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/index.css' />
    </head>

    <body>
		<%- include header.html %>

		<section id="mainPageSection">
			<img id="mainPageImg"></img>
		</section>
		
		<%- include footer.html %>
    </body>

    <div id="notice">
		<div id="notice-icon"></div><div id="notice-content"></div>
	</div>

	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/index.js"></script>
	<script src="modules/common.js"></script>
	<script>
		INDEX.init();
		COMMON.init_events();
	</script>

</html>
