<!DOCTYPE html>
<html>
    <head>
        <title>로그인</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><head>
    </head>
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
        <link rel='stylesheet' media="only screen" href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/login.css' />
    </head>

    <body>
		<%- include header.html %>

		<section id="loginSection">
			<div class="loginTitle">
				<span class="firstTitle">Korea Pain Research Group</span><br>
				<span class="secondTitle">환영합니다!</span>
			</div>

			<div class="contentBox">
				<div class="loginBox">
					<div class="loginInputBox">
						<label class="loginLabel">이메일</label>
						<input type="text" class="form-control" id="emailVal" placeholder="이메일을 입력해주세요."></input>
						<span class="loginEmailHelp helpText"><i class="fa fa-question-circle"></i> 이메일을 잊어버리셨나요?</span>
					</div>
					<div class="loginInputBox">
						<label class="loginLabel">비밀번호</label>
						<input type="password" class="form-control" id="passwordVal" placeholder="비밀번호를 입력해주세요."></input>
						<span class="loginPasswordHelp helpText"><i class="fa fa-question-circle"></i> 비밀번호를 잊어버리셨나요?</span>
					</div>
					<label id="rememberEmailLabel"><input type="checkbox" id="rememberEmail"></input>이메일 기억하기</label>
					<div class="buttons">
						<button id="doLogin">로그인</button>
					</div>
					<span class="errMsg noEmail">가입된 이메일이 없습니다.</span>
					<span class="errMsg wrongPw">비밀번호가 일치하지 않습니다.</span>
					<span class="errMsg notAuthed">인증 진행중인 이메일입니다.</span>
					<span class="errMsg serverErr">로그인에 실패했습니다.<br>잠시 후 다시 시도해주세요.</span>
				</div>

				<div class="signupBox">
					<div class="signupInputBox">
						<span class="signupFirstText">아직 회원이 아니신가요?</span>
					</div>
					<!-- <div class="signupInputBox">
						<span class="signupSecondText">아래 버튼을 클릭해서</span><br>
						<span class="signupSecondText">회원가입을 해주세요!</span>
					</div> -->
					<div class="buttons">
						<button class="goToSignup">회원가입</button>
					</div>
					<span class="errMsg isLoginErr">&nbsp</span>
					<span class="errMsg isLoginErr2">&nbsp<br>&nbsp</span>
				</div>
			</div>
		</section>
		
		<%- include footer.html %>
    </body>

    <!-- MODAL -->
    <div class="modal fade" id="loginFindIdModal">
	    <div class="modal-dialog" role="document">
	    	<div class="modal-content">
	    		<div class="loader">
					<div class="rect rect1"></div>
					<div class="rect rect2"></div>
					<div class="rect rect3"></div>
					<div class="rect rect4"></div>
					<div class="rect rect5"></div>
					<div class="loaderText">잠시만 기다려주세요.</div>
				</div>
	     	    <div class="modal-header">
	        		<span class="modal-title">ID 찾기</span>
	      		</div>
	      		<div class="findReady">
	      			<div class="modal-body">
		      			<div class="modalInputBox">
		      				<label class="modalLabel">이름</label><br>
		      				<input type="text" id="nameVal" class="form-control"></input><i class="noName fa fa-exclamation-circle"></i>
		      			</div>
		      			<div class="modalInputBox">
		      				<label class="modalLabel">전화번호</label><br>
		      				<input type="text" id="phoneVal" class="form-control"></input><i class="noPhone fa fa-exclamation-circle"></i>
		      			</div>
	        		</div>
	        		<div class="modal-footer">
			        	<button type="button" class="btn btn-primary" id="findId">ID 확인</button>
			      	</div>
	      		</div>

	      		<div class="found" style="display:none;">
	      			<div class="modal-body">
		      			<p class="modalContentFirst">ID조회 결과 입력하신 정보와 일치하는 ID는 아래와 같습니다.</p>
		        		<p class="modalContentSecond"><span id="foundId"></span><br>(가입일자: <span id="foundIdSignupDate"></span>)</p>
	        		</div>
	        		<div class="modal-footer">
			        	<button type="button" class="btn btn-primary confirm">확인</button>
			      	</div>
	      		</div>

	      		<div class="noInfo" style="display:none;">
	      			<div class="modal-body">
		      			<p class="modalContentFirst">ID조회 결과 입력하신 정보와 일치하는 ID가 없습니다.<br>다시 정확한 정보를 입력해 주시거나<br>회원 가입 후 로그인 해주세요.</p>
	        		</div>
	        		<div class="modal-footer">
			        	<button type="button" class="btn btn-primary" id="goToFindId">ID 찾기</button>
			        	<button type="button" class="btn btn-primary goToSignup">회원가입</button>
			      	</div>
	      		</div>
	    	</div>
	  	</div>
	</div>

	<div class="modal fade" id="loginFindPwModal">
	    <div class="modal-dialog" role="document">
	    	<div class="modal-content">
	    		<div class="loader">
					<div class="rect rect1"></div>
					<div class="rect rect2"></div>
					<div class="rect rect3"></div>
					<div class="rect rect4"></div>
					<div class="rect rect5"></div>
					<div class="loaderText">잠시만 기다려주세요.</div>
				</div>
	     	    <div class="modal-header">
	        		<span class="modal-title">비밀번호 찾기</span>
	      		</div>
	      		<div class="findReady">
	      			<div class="modal-body">
	      				<div class="modalInputBox">
		      				<label class="modalLabel">이메일</label><br>
		      				<input type="text" id="pw_emailVal" class="form-control"></input><i class="pw_noEmail fa fa-exclamation-circle"></i>
		      			</div>
		      			<div class="modalInputBox">
		      				<label class="modalLabel">이름</label><br>
		      				<input type="text" id="pw_nameVal" class="form-control"></input><i class="pw_noName fa fa-exclamation-circle"></i>
		      			</div>
		      			<div class="modalInputBox">
		      				<label class="modalLabel">전화번호</label><br>
		      				<input type="text" id="pw_phoneVal" class="form-control"></input><i class="pw_noPhone fa fa-exclamation-circle"></i>
		      			</div>
	        		</div>
	        		<div class="modal-footer">
			        	<button type="button" class="btn btn-primary" id="findPw">비밀번호 확인</button>
			      	</div>
	      		</div>

	      		<div class="found" style="display:none;">
	      			<div class="modal-body">
		      			<p class="modalContentFirst">새로 발급된 임시 비밀번호를 아래 이메일로 발송하였습니다.</p>
		        		<p class="modalContentSecond"><span id="findPwTargetEmail"></span></p>
	        		</div>
	        		<div class="modal-footer">
			        	<button type="button" class="btn btn-primary confirm">확인</button>
			      	</div>
	      		</div>

	      		<div class="noInfo" style="display:none;">
	      			<div class="modal-body">
		      			<p class="modalContentFirst">입력하신 정보와 일치하는 계정이 없습니다.<br>다시 정확한 정보를 입력해 주세요.</p>
	        		</div>
	        		<div class="modal-footer">
			        	<button type="button" class="btn btn-primary" id="goToFindPw">비밀번호 찾기</button>
			      	</div>
	      		</div>
	    	</div>
	  	</div>
	</div>

	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/login.js"></script>
	<script src="modules/common.js"></script>
	<script>
		LOGIN.init();
		COMMON.init_events();
	</script>

</html>
