<!DOCTYPE html>
<html>
    <head>
        <title>KPRG-이용약관 및 개인정보보호</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><head>
    </head>
        <link rel='stylesheet' href='/bootstrap/bootstrap.css' />
        <link rel='stylesheet' media="only screen" href='/stylesheets/common.css' />
        <link rel='stylesheet' href='/stylesheets/policy.css' />
    </head>

    <body>
		<%- include header.html %>

		<section id="policySection">
			<div class="policyTitle">
				<span class="secondTitle">개인정보 취급방침에 대한 안내</span>
			</div>
			<div class="policyContent firstContent">
				<div class="box">
					<div class="inBox">
						<p>출처</p>
						<p>- &lt;Korea Pain Research Group&gt; 회원님의....</p>
						<p>- 내용</p>
						<p>- 내용내용내용내용</p>
						<p>- 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용</p>
						<p>- 내용내용</p>
						<p>- 내용내용내용내용내용내용내용내용</p>
						<p>- 내용내용내용내용내용내용내용내용</p>
						<p>- 내용내용내용</p>
						<p>- 내용내용내용</p>
					</div>
				</div>
			</div>

			<div class="policyTitle">
				<span class="secondTitle">회원 약관</span>
			</div>
			<div class="policyContent">
				<div class="box">
					<div class="inBox">
						<p>제 1조 (목적)</p>
						<p>- 이 약관은 &lt;Korea Pain Research Group&gt;가 운영하는....</p>
						<p>- 내용</p>
						<p>- 내용내용내용내용</p>
						<p>- 내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용</p>
						<p>- 내용내용</p>
						<p>- 내용내용내용내용내용내용내용내용</p>
						<p>- 내용내용내용내용내용내용내용내용</p>
						<p>- 내용내용내용</p>
						<p>- 내용내용내용</p>
					</div>
				</div>
			</div>
		</section>
		
		<%- include footer.html %>
    </body>

	<script src="jquery/jquery.js"></script>
	<script src="bootstrap/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/dd32f28b6e.js"></script>
	<script src="modules/donate.js"></script>
	<script src="modules/common.js"></script>
	<script>
		DONATE.init();
		COMMON.init_events();
	</script>

</html>
