#policySection {
	padding: 50px;
	text-align: center;
}

.policyTitle {
	width: 45%;
	margin: 30px auto;
    margin-top: 0px;
	border-bottom: 1px solid #333;
}

.policyTitle .firstTitle {
	color: black; 
    text-shadow: #77618e 0px 2px, #77618e 2px 0px, #77618e -2px 0px, 
    #77618e 0px -2px, #77618e -1.4px -1.4px, #77618e 1.4px 1.4px, 
    #77618e 1.4px -1.4px, #77618e -1.4px 1.4px; 
    font-size: 32px;
}

.policyTitle .secondTitle {
    font-size: 28px;
    display: block;
    font-weight: bold;
}

.policyContent {
    margin-bottom: 50px;
}

.box {
    padding: 15px;
    position: relative;
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.inBox {
    padding: 15px;
    text-align: left;
    height: 300px;
    overflow: auto;
    word-break: break-all;
}

.firstContent {
    margin-bottom: 100px;
}

