#signupSection {
	padding: 50px;
	text-align: center;
	width: 45%;
	margin: 0 auto;
}

.signupTitle {
	margin-bottom: 50px;
	border-bottom: 1px solid #333;
}

.signupTitle .firstTitle {
	color: black; 
    text-shadow: #77618e 0px 2px, #77618e 2px 0px, #77618e -2px 0px, 
    #77618e 0px -2px, #77618e -1.4px -1.4px, #77618e 1.4px 1.4px, 
    #77618e 1.4px -1.4px, #77618e -1.4px 1.4px; 
    font-size: 32px;
    margin-bottom: 10px;
    line-height: 2.5;
}

.signupTitle .secondTitle {
    font-size: 28px;
    display: block;
    font-weight: bold;
}

.signupInputBox {
	text-align: center;
	padding: 5px;
	margin-bottom: 20px;
}

.halfBox {
	display: inline-block;
}

.firstItem {
	padding-left: 0px;
}

.lastItem {
	padding-right: 0px;
}

.centerItem {
	padding: 0px 10px;
}

.signupBirthBox {
	width: 32.8%;
	display: inline-block;
}

.buttons {
	margin-top: 50px;
}

#doSignup {
	width: 100%;
	height: 40px;
	background-color: #b91616;
	color: white;	
	border: 1px solid #a21616;
}

.signupGuide {
	color: #aaa;
	font-size: 12px;
}

.errMsg {
	color: #ff0000;
	font-size: 12px;
	display: none;
}

#signupSuccessModal > .modal-dialog {
	text-align: center;
	width: 500px;
	margin-top: 100px;
}

#signupSuccessModal > .modal-dialog > .modal-content {
	padding: 30px 60px;
}

#signupSuccessModal > .modal-dialog > .modal-content > .modal-header {
	border-bottom: 1px solid #999;
}

#signupSuccessModal > .modal-dialog > .modal-content > .modal-footer {
	text-align: center;
	border-top: 0px;
}

#signupSuccessModal > .modal-dialog > .modal-content > .modal-header > .modal-title {
	font-weight: bold;
	font-size: 16px;
}

.modalContentFirst {
	color: #999;
	font-weight: bold;
	font-size: 13px;
}

.modalContentSecond {
	font-weight: bold;
	font-size: 13px;
}

#confirmSignup {
	width: 80%;
	background-color: #2f0d54;
	color: white;
	border: 1px solid #150427;
}


